
body{
    background-color: rgba(136, 172, 225, 0.844);
}

.formulario{
    position: center;
    margin: 8%;
    padding: 2%;
    background-color: aliceblue;
}

.div_listado{
    position: center;
    justify-items: center;
    margin: 8%;
    padding: 2%;
    background-color: aliceblue;
}

.buttons_holder{
    margin: 3%;
    display: flex;
    justify-content:space-around;
}


/*Span error*/

.error-message{
    color: red;
    display: none;
    font-size: x-small;
}


.card-text{
    text-align:justify;
}